/* Style CSS */
.html {background-color: honeydew;}

.section-content {
    background-color: aquamarine;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    border: 0px;
    text-align: center;
}

.Keliling-Segitiga {
    background-color: aquamarine;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    border: 0px;
    font-weight: bold;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.image {
   text-align: center;
   width: 100%;
   height: auto;
}

input { 
    background-color: rgba(127, 255, 212, 0.36);
    border-radius: 4px;
    width: 100%;
    font-family: math;
}

#Reset { 
    background-color: aqua;
    

}

button {
    padding: 18px;
    border-radius: 15px;
    background-color: rgba(127, 255, 212, 0.362);
}

.Luas-Segitiga {
    background-color: aquamarine;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    border: 0px;
    font-weight: bold;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}
